# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environments
venv/
.venv/
env/

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# OS Files
.DS_Store
Thumbs.db

# Python cache
.pytest_cache/

# Environment variables
.env